<form [formGroup]="formGroup" *ngIf="formGroup">
  <div class="row">
    <mat-form-field class="col-12">
      <mat-label>{{ fieldName }}</mat-label>
      <input matInput [placeholder]="placeholder" [formControlName]="controlName" [required]="required"
        (keyup)="onKeyUp()" [matAutocomplete]="autocomplete" />
      <mat-autocomplete autoActiveFirstOption #autocomplete="matAutocomplete"
        (optionSelected)="onOptionSelected($event)">
        <ng-container *ngIf="loading$ | async">
          <mat-option disabled="true">
            <i>Searching...</i>
          </mat-option>
        </ng-container>
        <mat-option *ngFor="let option of (options$ | async)" [value]="option">
          {{ option.label }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matPrefix *ngIf="isSearch">search</mat-icon>
      <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
      <mat-error *ngIf="
          formGroup.controls[controlName].touched &&
          formGroup.controls[controlName].invalid
        ">
        <span *ngIf="formGroup.get(controlName).hasError('required')">{{ fieldName }} is required</span>
        <span *ngIf="formGroup.get(controlName).hasError('minlength')">{{ fieldName }}'s minimum length is
          {{ formGroup.get(controlName)?.errors?.minlength?.requiredLength }}
          characters</span>
        <span *ngIf="formGroup.get(controlName).hasError('maxlength')">{{ fieldName }}'s maximum length is
          {{ formGroup.get(controlName)?.errors?.maxlength?.requiredLength }}
          characters</span>
        <span *ngIf="formGroup.get(controlName).hasError('min')">{{ fieldName }}'s minimum value is
          {{ formGroup.get(controlName)?.errors?.min?.min }}</span>
        <span *ngIf="formGroup.get(controlName).hasError('max')">{{ fieldName }}'s maximum value is
          {{ formGroup.get(controlName)?.errors?.max?.max }}</span>
      </mat-error>
    </mat-form-field>
  </div>
</form>